.slide1 {
  background-image: url(/img/edu/1.jpg)
}
.slide2 {
  background-image: url(/img/edu/2.jpg)
}
.slide3 {
  background-image: url(/img/edu/3.jpg)
}
.slide4 {
  background-image: url(/img/edu/4.jpg)
}
.slide5 {
  background-image: url(/img/edu/5.jpg)
}
.slide6 {
  background-image: url(/img/edu/6.jpg)
}
.slide7 {
  background-image: url(/img/edu/7.jpg)
}
.slide8 {
  background-image: url(/img/edu/8.jpg)
}
.slide9 {
  background-image: url(/img/edu/9.jpg)
}
.slide10 {
  background-image: url(/img/edu/10.jpg)
}
.slide11{
  background-image: url(/img/edu/11.jpg)
}
.slide12{
  background-image: url(/img/edu/12.jpg)
}
.slide13{
  background-image: url(/img/edu/13.jpg)
}
.slide14{
  background-image: url(/img/edu/14.jpg)
}
.slide15{
  background-image: url(/img/edu/15.jpg)
}



.slider {
  position: absolute;
  width: 400%;
  height: 100%;
  background: #000;
  display: inline-flex;
  overflow: hidden;
}
.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8, .slide9, .slide10, .slide11, .slide12, .slide13, .slide14, .slide15 {
  position: absolute;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 62px;
  padding-top: 138px;
  font-weight: 800;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  width: 25%;
  height: 100%;
  z-index: 10;
  transition: 1.4s;
}



@media (max-width: 480px) {
  .parent{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 550px !important;
      height: 100px;
      margin-top: -35px;
      overflow: hidden;
    }
  .projectdes{
      margin-top: 450px;
      margin-left: 5px;
      padding: 10px;
  }
  #projectinfo{
      margin-left: 10px !important;
  }
}
