.slide1 {
    background-image: url(/img/health/1.jpg)
  }
.slide2 {
    background-image: url(/img/health/2.jpg)
}
.slide3 {
    background-image: url(/img/health/3.jpg)
}

  
.slider {
    position: absolute;
    width: 400%;
    height: 100%;
    background: #000;
    display: inline-flex;
    overflow: hidden;
}
.slide1, .slide2, .slide3 {
    position: absolute;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-size: 62px;
    padding-top: 138px;
    font-weight: 800;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    width: 25%;
    height: 100%;
    z-index: 10;
    transition: 1.4s;
}



@media (max-width: 480px) {
    .parent{
        width: 480px !important;
        min-height: 100%;
        margin-top: -35px;
    }
    .projectdes{
        margin-top: 450px;
        margin-left: 5px;
        padding: 10px;
    }
    #projectinfo{
        margin-left: 10px !important;
    }
  }
  