.slide1{
    background-image: url(/img/women/1.JPG)
}
.slide2{
    background-image: url(/img/women/2.JPG)
}
.slide3{
    background-image: url(/img/women/3.JPG)
}
.slide4{
    background-image: url(/img/women/6.jpg)
}
.slide5{
    background-image: url(/img/women/5.jpg)
}
.slide6{
    background-image: url(/img/women/6.JPG)
}
.slide7{
    background-image: url(/img/women/7.JPG)
}
  
.slider{
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    background: #000;
    display: inline-flex;
    overflow: hidden;
}
.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7{
    position: absolute;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-size: 62px;
    padding-top: 138px;
    font-weight: 800;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    width: 25%;
    height: 100%;
    z-index: 10;
    transition: 1.4s;
}